.pumpTable th {
  width: 20%;
}

.pumpTable td {
  width: 40%;
}

.pumpTable td {
  text-align: center;
}

.pumpTable img {
  height: 400px;
  object-fit: cover;
  padding: 5px;
  width: 100%;
  overflow: hidden;
}

/* .image {
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
} */
